---
title: Biocube
---


<p>The biocube is a standard size template, that can be placed in a location to show objects within a set paramaters</p>

<div class="iframes"></div>

<div class="loading"></div>
<script>
$('.parallax').html('<img src="/images/biocube.png">');
</script>
