---
title: Climate
---

<p>	<i class="climate">Climate is the factors that influence the environment.</i>  Specific organisms may live in a specific climate but can not survive in another. Elevation is a factor in climate.  The more elevation, the colder the climate will be.  Wind patterns are a factor in climate.  The wind patterns can change the conditions of an environment.  It may be necessary for a organisms that lives in the environment to move during a change in seasonal winds. Latitude and Angle of sun rays affect the temperature of the climate as well.  The distance from mountains and coast affect factors of the environment such as temperature and rainfall.  Global Climate change can affect the climate negatively or positively depending on the conditions of that environment.  The earth surface can affect the amount of sunlight absorbed by changing heating. </p>
