---
title: Niche
---

<p>
<i class="habitat">Habitat is the general place where an organism lives</i>
<br>
<i class="niche">Niche is the range of physical and biological conditions in which a species lives and the way the species obtains what it needs to survive and reproduce.</i>
</p>
<ul>
<li>Resources - sunlight, water, soil, space, necessary for organism to survive</li>
<li>Condition of the environment</li>
<li>Biotic factors such as the food in the environment</li>
</ul>
<p>
Multiple organisms may try to be using resources from a limited environment which causes competition among organisms.  Competitive exclusion principle states that no two species can occupy exactly the same niche in exactly the same habitat at exactly the same time.  
Species will normally divide the resources.  Competition usually determines the kind of species that the resources will be divided with.
</p>
<strong>Look:</strong><br>
<span data-target="climate">climate</span> is part of an environment<br>
<span data-target="weather">weather</span> is part of an environment<br>

<div class="iframes"></div>

<div class="loading"></div>
