---
title: Predation
---

<p><i class="predator">Predator can affect the size of prey populations in a community and determine the places prey can live and feed
Helpful for regulating population size</i></p><br>
<p><i class="herbivore">Herbivores can affect both the size and distribution of plant populations n a community and determine the places that certain plants can survive and grow</i></p><br>
<p><i class="keystone">Keystone species are changes of a population of a specific species that can cause dramatic changes in the structure of a community.</i>
</p>
