---
title: Succession
---
<p><i class="succession">Ecological Succession - predictable changes that occur in a community over time
Ecosystems change over time, especially after disturbances, as some species die out and new species move in.</i>
Primary Succession: Succession that begins in an area with no remnants of an older community is called primary succession
Secondary Succession: Disturbances that affect the community without completely destroying it
Organisms changing environment, resource competition, and niche movement cause succession.
</p>

<div class="iframes"></div>

<div class="loader"></div>
