---
title: Symbiosis
---
<p>A relationship where two species live closely together - Symbiosis
Three types of symbiotic relation in nature:<br>
<i class="multualism">Mutualism - Both organisms are helping each other</i><br>
<i class="parasitism">Parasitism - Harmfully lives off of another organism<br></i>
<i class="commensalism">Commensalism - One organism is helped, but the other has no benefit or harm</i><br>
</p>
<br>
<p>Take a look at </p><span data-target="predation">predator</span>

<div class="iframes"></div>

<div class="loading"></div>
