---
title: Weather
---

<p>Weather is a thing on earth.  Weather is important and changes daily.  Weather includes things such as rainfall or temperature. Weather changes constantly and is in a climate.  Weather is different from <span data-target="climate">climate</span> because of the factors and things.  the  factors in climate are relatively static, but the weather in a climate changes.  Weather does many things.  Weather can have dramatic problems to things.  If the climate factors are near the coast, the weather could change to large storms destroying the area.  Storms in weather include things like Hurricanes or Monsoons.  It is possible that mountains have an affect on weather.  Mountains can be dangers with the weather but can also protect people from weather.  Weather is both good and bad.  Weather does things.  Why do we have weather.  We have weather because of the arrangement of things on the earth.  </p>

<iframe src="/climate.html"></iframe>

<script>
function getContent(title){
	var remoteContent = $('iframe').contents(),
	remotePhrase = $(remoteContent).find("i." + title);	
	
	//remoteContent.find('html').replaceWith(remotePhrase);
	return remotePhrase;
}

function createHovers(){
	$('span').each(function(index){
		var target = $(this).data('target');
		var text = this.innerHTML;
		var tooltip = document.createElement("a");
		tooltip.innerHTML = text;
		$(tooltip).addClass('tooltipped');
		$(tooltip).attr('data-position', 'bottom');
		$(tooltip).attr('data-delay', '50');
		$(tooltip).attr('data-tooltip', getContent(target).html());	
		$(this).replaceWith(tooltip);
	});
	$('.tooltipped').tooltip({delay: 50});
}

function openModal(content, iframe){
	$('#define-modal').modal('open').find('.replace-me').html($(iframe).contents().find('p').html().find('i').each(function(){
			
	}));
}
$('document').ready(function(){
	$('.modal').modal();
});
</script>

<div id="define-modal" class="modal bottom-sheet">
	<div class="modal-content">
		<div class="replace-me"></div>
	</div>
</div>
